{%extends 'partials/base.html'%}
{%load bootstrap5%}
{%block title%}Comment{%endblock%}
{%block content%}
{%load static%}
<div class="col-md-6 mx-auto">
This transaction

    <ul>
    <li>Username: {{transaction.card_sender.username}}</li>
    <li>Card Name: {{transaction.card_details.name}}</li>
    <li>Card Height: {{transaction.card_details.height}}</li>
    <li>Card Mass: {{transaction.card_details.mass}}</li>
    <li>Card Homeworld: {{transaction.card_details.homeworld}}</li>
    <li>Transaction Status: {{transaction.transaction_status}}</li>
    <li>ID: {{transaction.transaction_id}}</li>
    <li>{{transaction.date_created|timesince}}</li>
    <a href="#" class="btn btn-primary btn-sm">Commit Transaction</a>

</ul>

    {{cards_list}}
    </div>
{%endblock%}