{%extends 'partials/base.html'%}
{%load static%}
{%block title%}Search{%endblock%}
{%block content%}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{% static 'style/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'style_msg/style_msg.css' %}">

<div class="container_profile_page" id="profile_page_container">
    <div class="profile_content_block">
        {%if queryset.company_name%}
        <h5><b>Company Name: </b>{{queryset.company_name}}</h5>
        {%endif%}

        {%if queryset.description%}
        <h5><b>Description: </b>{{queryset.description}}</h5>
        {%endif%}

        {%if queryset.description%}
        <h5><b>AI-Description: </b>{{ai_description}}</h5>
        {%endif%}


        {%if queryset.busniess_name%}
        <h5><b>Busniess Name: </b>{{queryset.busniess_name}}</h5>
        {%endif%}


        {%if queryset.industry%}
        <h5><b>Industry: </b>{{queryset.industry}}</h5>
        {%endif%}

        {%if queryset.category%}
        <h5><b>Description: </b>{{queryset.category}}</h5>
        {%endif%}

        {%if queryset.no_of_employees%}
        <h5><b>Employee Strength: </b>{{queryset.no_of_employees}}</h5>
        {%endif%}

        {%if queryset.legal_status%}
        <h5><b>Type: </b>{{queryset.legal_status}}</h5>
        {%endif%}

        {%if queryset.turnover%}
        <h5><b>Turnover: </b>{{queryset.turnover}}</h5>
        {%endif%}

        {%if queryset.turnover_range%}
        <h5><b>Turnover Range: </b>{{queryset.turnover_range}}</h5>
        {%endif%}

        {%if queryset.address%}
        <h5><b>Address: </b>{{queryset.address}}</h5>
        {%endif%}


        {%if queryset.city%}
        <h5><b>City: </b>{{queryset.city}}</h5>
        {%endif%}


        {%if queryset.state%}
        <h5><b>State: </b>{{queryset.state}}</h5>
        {%endif%}
        {%if queryset.pincode%}
        <h5><b>Pincode: </b>{{queryset.pincode}}</h5>
        {%endif%}

        {%if queryset.country%}
        <h5><b>Country: </b>{{queryset.country}}</h5>
        {%endif%}

        {%if queryset.contact_person%}
        <h5><b>Contact Person: </b>{{queryset.contact_person}}</h5>
        {%endif%}

        {%if queryset.designation%}
        <h5><b>Designation: </b>{{queryset.designation}}</h5>
        {%endif%}

        {%if queryset.emails%}
        <h5><b>Emails: </b>{{queryset.emails}}</h5>
        {%endif%}

        {%if queryset.phones%}
        <h5><b>Phones: </b>+{{queryset.phones}}</h5>
        {%endif%}

        {%if queryset.website%}
        <h5><b>Website: </b>{{queryset.website}}</h5>
        {%endif%}

        {%if queryset.linkedin_url%}
        <h5><b>Linkedin URL: </b>{{queryset.linkedin_url}}</h5>
        {%endif%}

        {%if queryset.turnover_range%}
        <h5><b>Turnover Range: </b>{{queryset.turnover_range}}</h5>
        {%endif%}
        {%if queryset.pan%}
        <h5><b>PAN: </b>{{queryset.pan}}</h5>
        {%endif%}

        {%if queryset.gsts%}
        <h5><b>GST: </b>{{queryset.gsts}}</h5>
        {%endif%}

        {%if queryset.extra%}
        <h5><b>Extra: </b>{{queryset.extra}}</h5>
        {%endif%}

        {%if queryset.incorporation_date%}
        <h5><b>Incorporation Date: </b>{{queryset.incorporation_date}}</h5>
        {%endif%}

    </div>
    <div class="message_block">
        <div class="button_group">
            <a href="{%url 'email' email.0%}" class="chat_buttons button_selected">Email</a>
            <a href="{%url 'call' phone.0 contact_person%}" class="chat_buttons" id="call_btn">Call</a>
            <a href="{%url 'whatsapp' phone.0 contact_person%}" class="chat_buttons">Whatsapp</a>
            <a href="#" class="chat_buttons">Message</a>
        </div>
        <div class="chat_box">
            <div class="chat_title_bar">
                {{queryset.contact_person}}, email to: {{queryset.emails}}
            </div>

            <div class="chat_text_area" id="chat_text_area">

            </div>
            <div class="chat_text_input_line">
                <input type="text" id="chat_text_input" placeholder="Write Message here" class="chat_text_input">
                <a href="#" class="chat_buttons button_selected">Send</a>
                <a href="#" class="chat_buttons">+ Add</a>
            </div>
        </div>
    </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <img src="{%static 'images/calling.png'%}">
        <br>
        <h3 style="text-align: center"><b>Ongoing</b></h3>
        <h6 style="text-align: center">{{queryset.contact_person}}</h6>
        <h6 style="text-align: center">+{{queryset.phones}}</h6>
    </div>

</div>

<script>

    console.log("asdf");
    const inputField = document.getElementById("chat_text_input");
    inputField.addEventListener("keydown", function (e) {
        if (e.code === "Enter") {
            console.log("keypress done");
            let input = inputField.value;
            inputField.value = "";
            let chat_area = document.getElementById("chat_text_area");
            let input_msg_div = document.createElement("div");
            input_msg_div.id = "user";
            input_msg_div.innerText = input;
            input_msg_div.innerHTML = input;
            chat_area.appendChild(input_msg_div);
        }
    });


    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("call_btn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

</script>

{%endblock%}