{%extends 'partials/base.html'%}
{%block title%}Search{%endblock%}
{%load static%}
{%block content%}

<div class="container">
    <div class="inner_box">
        <div class="logo_image">
            <img src="{% static 'images/mascot.png'%}">
        </div>
        <div class="text_content">

            <h1>Get most intelligent leads around you</h1>
            <h5>Search the verified & real time leads in area with </h5>
            <h5>Leadzen.ai - the most intelligent lead generation tool </h5>

            <form class="form" id="search_form" , method="post">
                {% csrf_token %}
                {{form}}
                <input type="submit" value="Search" class="submit">
            </form>
        </div>
    </div>
</div>
{%endblock%}