.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

*:not(path):not(g){

    #outline: solid 0.25rem green;
}

.red{

    background-color: #FB3E3E;
    color:#F8F8F8
}

