{% load static %}

<nav class="navbar">
    <!-- NAVIGATION MENU -->

    <div class="menu_items">
        <a href="{% url 'search'%}">Search</a>
        <a href="{%url 'logs' 1%}">Logs</a>
    </div>

    <form class="form" id="search_form1" method="post">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Search" class="submit">
    </form>
    <div class="logo">
        <a href="{% url 'search'%}">
            <img id="logo" src="{% static 'images/logo.jpg'%}">
        </a></div>
</nav>