{% load static %}

<nav class="navbar">
    <!-- NAVIGATION MENU -->

    <select name="cars" id="cars" style="height: 2rem; width:5rem">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
    </select>


    <form class="form" id="search_form1" method="post">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Search" class="submit">
    </form>
    <div class="logo">
        <a href="{% url 'search'%}">
            <img id="logo" src="{% static 'images/logo.jpg'%}">
        </a></div>
</nav>